extends ../index

block content
  img(
    src=`/${user.avatarUrl}`, 
    width="100", 
    height="100"
  )
  form(method="POST", action="/api/users/edit", enctype="multipart/form-data")
    label(for="avatar") Avatar
    input(
      type="file", 
      id="avatar",
      name="avatar",
      accept="image/*"
    )
    input(
      name="email", 
      placeholder="Email",
      type="text",
      value=user.email,
      required
    )
    input(
      name="username", 
      placeholder="Username",
      type="text", 
      value=user.username,
      required
    )
    input(
      name="name", 
      placeholder="Name",
      type="text", 
      value=user.name
      required
    )
    input(
      name="location", 
      placeholder="Location",
      type="text", 
      value=user.location
    )
    input(
      type="submit",
      value="Update Profile"
    )
    if !user.socialOnly
      hr
      a(href="/users/change-password") Change Password &rarr;